@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
	--bg-claro: #d8ddcf;
	--bg-header: #c2d2b2;
	--title-color: #3f7d5e;
	--navBar-color: #7fb069;
}

* {
	font-family: "Rubik", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: 0.2s linear;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	user-select: none;
	pointer-events: none;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
	height: 0.5rem;
	width: 1rem;
	background-color: #b7d8a2;
	;
}

::-webkit-scrollbar-thumb {
	background-color: var(--title-color);
	border-radius: .5rem;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--bg-claro);
}

/* ********************** */

/* contacto cabeza START */
.contact {
	background-color: #b7d8a2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contact .socials {
	display: flex;
	gap: 1rem;
}

.contact .socials .facebook,
.contact .socials .instagram,
.contact .socials .wts {
	width: 3rem;
	height: 3rem;
	/* background-color: #3f7d5e; */
}

.contact .socials .facebook a i,
.contact .socials .instagram a i,
.contact .socials .wts a i {
	font-size: 3rem;
	color: #000;
}

.contact .welcome p {
	font-size: 1.5rem;

}

@media (max-width: 768px) {
	.contact {
		display: none;
	}
}

/* contacto cabeza END */

/* header START */
.header {
	background-color: var(--bg-claro);
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;

}

.header .sectionHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	height: 11rem;
	/**********************/
}

.header .sectionHead .logo img {
	width: 10rem;
	height: auto;
}

.header .sectionHead .centralTel p {
	font-size: 2.5rem;
	text-transform: capitalize;
	color: var(--title-color);
}

.header .sectionHead .centralTel span i {
	font-size: 2rem;
	color: #222;
}

.header .sectionHead .centralTel span a {
	font-size: 2rem;
	color: #000;
}

.header .sectionHead .btnMenu {
	width: 3rem;
	height: 3rem;
	display: none;
}

.header .sectionHead .btnMenu i {
	font-size: 3rem;
	cursor: pointer;
}

@media (max-width: 768px) {
	.header {
		border-bottom: 2px solid var(--navBar-color);
		position: sticky;
		top: 0;
	}

	.header .sectionHead .btnMenu {
		display: inline;
	}

	#btn-menu.bx-x {
		transform: rotate(180deg);
	}
}

/* header END */

/* navBar START */
.navBarMain {
	height: 5rem;
	position: sticky;
	top: 0;
}

.navBarMain .navLinks {
	background-color: var(--navBar-color);
}

.navBarMain .navLinks .links {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 5rem;
	height: 100%;
	list-style: none;
}

.navBarMain .navLinks .links a {
	color: #fff;
	font-size: 1.5rem;
	text-transform: capitalize;

	padding: .5rem;
	border-radius: .5rem;
}

.navBarMain .navLinks .links li {
	position: relative;
	padding: 0 14px;
}

.navBarMain .navLinks .links li:hover {
	background-color: var(--title-color);
}

@media (max-width: 768px) {
	.navBarMain .navLinks .links li:hover {
		background-color: transparent;
	}

	.navBarMain .navLinks .links li a:hover {
		background-color: var(--title-color);
	}

}

.navBarMain .navLinks .links li a {
	height: 100%;
	white-space: nowrap;
}

.subMenu {
	display: none;
}

.navBarMain .navLinks .links li .subMenu li {
	list-style: none;
}

.navBarMain .navLinks .links li .subMenu {
	position: absolute;
	top: 5rem;
	left: 0;
	background-color: var(--navBar-color);
	z-index: 33;
}

.navBarMain .navLinks .links li:hover .subMenu1,
.navBarMain .navLinks .links li:hover .subMenu2,
.navBarMain .navLinks .links li:hover .subMenu3 {
	display: block;
}

.navBarMain .navLinks .links li .subMenu li {
	padding: 0 1.5rem;
	border-bottom: 2px solid rgba(255, 2555, 255, .3);
}

@media (max-width: 768px) {

	.navBarMain {
		height: 1rem;
	}

	.navBarMain .navLinks::-webkit-scrollbar {
		background-color: transparent;
	}
	.navBarMain .navLinks::-webkit-scrollbar-thumb {
		border-radius: 0px;
	}

	.navBarMain .navLinks {
		position: fixed;
		top: 11rem;
		bottom: 0;
		display: block;
		width: 100%;
		background-color: var(--navBar-color);
		z-index: 999;
		overflow-x: hidden;
		overflow-y: scroll;
		max-width: 270px;
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}

	.navBarMain .navLinks.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.navBarMain .navLinks .links {
		display: block;
	}

	.navBarMain .navLinks .links li {
		display: block;
	}

	.navBarMain .navLinks .links li .subMenu {
		position: relative;
		top: 0;
		display: none;
	}

	.navBarMain .navLinks .links li:hover .subMenu1,
	.navBarMain .navLinks .links li:hover .subMenu2,
	.navBarMain .navLinks .links li:hover .subMenu3 {
		display: none;
	}

	.navBarMain .navLinks.show1 .links li .subMenu1,
	.navBarMain .navLinks.show2 .links li .subMenu2,
	.navBarMain .navLinks.show3 .links li .subMenu3 {
		display: block;
	}
}

.socials2 {
	/* position: absolute;
	bottom: 0; */
	display: none;
}

.socials2 a img {
	width: 4rem;
	height: auto;
}

@media (max-width: 768px) {
	.socials2 {
		display: inline;
	}
}

/* navBar END */

/* btnSubir START */
.btnSubir {
	position: fixed;
	bottom: 0;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	background: #404040;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;

	display: none;
}

.btnSubir a i {
	font-size: 4rem;
	color: var(--title-color);
}

/* btnSubir END */